# Configuration Supabase PostgreSQL
DATABASE_URL=postgresql://postgres.kolcxpyiydhtahjqhnay:postgres1234!@aws-0-eu-west-1.pooler.supabase.com:6543/postgres

# Environnement
NODE_ENV=development

# CORS
FRONTEND_ORIGIN=http://localhost:3000
